/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chat-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 70%; /* Adjust max-width as needed */
    word-wrap: break-word; /* Ensure long words break to the next line */
}

.chat-message.user {
    background-color: #15e8b6;
    text-align: right;
    color: black;
    float: right;
}

.chat-message.bot {
    background-color: #4b494b;
    text-align: left;
    color: white;
    float: left;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

